
.container{
  background-color: white;
}

.top-box {
  margin-top: 20px;
}

.card-image {
  width: 300px;
}

.teacher {
  width: 400px;
  z-index: 1000;
  float: left;
  margin: 20px 0;
}

.page-template {
  height: 700px;
}

.textarea {
  margin-top: auto;
  top: 67%;
}

.school-bg-img {
  opacity: 0.3;
  z-index: 1;
  height: 700px;
}
.is-wide {
  width: 500px;
}
